[submodule "martial_tree"]
	path = martial_tree
	url = git@github.com:Robotics-Club-Pulchowk/martial_tree.git

[submodule "martial_tree/include/robotlibpc"]
    path = martial_tree/include/robotlibpc
    url = git@github.com:Robotics-Club-Pulchowk/robotlibpc.git

[submodule "server"]
	path = server
	url = git@github.com:Robotics-Club-Pulchowk/2026_servers.git

[submodule "server/include/robotlibpc"]
	path = server/include/robotlibpc
	url = git@github.com:Robotics-Club-Pulchowk/robotlibpc.git

[submodule "ar_interfaces"]
	path = ar_interfaces
	url = git@github.com:Robotics-Club-Pulchowk/ar_interfaces_2026.git

[submodule "serial_bridge_2026"]
	path = serial_bridge_2026
	url = git@github.com:Robotics-Club-Pulchowk/serial_bridge_2026.git
	
[submodule "launch_pkg"]
	path = launch_pkg
	url = git@github.com:Robotics-Club-Pulchowk/launch_pkg_2026.git
